.first-section{
    margin-top: 0;
    width: 100%;
    background-size: cover;
    background-position: 100% 0%;
}

.revealMain.fadeInDown{
    padding: 2% 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    letter-spacing: .15em;
    color:rgb(36, 36, 36);
    
}
/* 
.first-section h1,h2{
    display: flex;
    justify-content: center;
    text-align: center;
} */


.first-item{
    margin-top: 440px;
    color: transparent;
    width: 0;
}

.Typewriter__cursor{
    display: none;
}

.first-section a{
    text-decoration: none;
}

.btn{
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    background-color: rgba(0,179,137,255);
    border: 1px solid;
    width: 50%;
}
.btn-card{
    margin: 10px auto 0 auto;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    background-color: rgba(0,179,137,255);
    border: 1px solid;
    width: 50%;
}

.btn:hover{
    background-color: rgba(0,179,137,255);
    border: 1px solid rgba(0,179,137,255);

}

.outline-btn{
    margin: 10px auto 20px auto;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(0,179,137,255);
    color: rgba(0,179,137,255);
}

.project-card{
    margin-bottom: 40px;
}

.project-card h3{
    margin-bottom: 10px;
}

.project-card img {
    height: 250px;
    object-fit: cover;
}

.outline-btn:hover{
    background-color: rgba(0,179,137,255);
    border: 1px solid rgba(0,179,137,255);
    text-decoration: none;    
}

.bottom-carousel{
    width: 80%;
    margin: 0px auto 160px auto;
    text-align: center;
}

.bottom-carousel a{
    text-decoration: none;
}

@media (max-width: 460px) {
  .first-item {
    margin-top: 560px;
  }
}
