.first-section {
  margin-top: 0;
  width: 100%;
  background-size: cover;
  background-position: 100% 0%;
  height: calc(100vh - 82px);
}

.revealMain.fadeInDown {
  padding: 2% 5%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 2em;
  letter-spacing: 0.15em;
  color: rgb(36, 36, 36);
}
/* 
.first-section h1,h2{
    display: flex;
    justify-content: center;
    text-align: center;
} */

.home {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.first-section {
  height: 100vh;
  scroll-snap-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15vh 10vw 10vh 10vw;
}

.first__section-port {
  height: 100vh;
  scroll-snap-align: center;
  width: 100%;
  padding: 15vh 10vw 10vh 10vw;
}

/* .second__section {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
} */

.first-item {
  width: 65%;
  height: 60vh;
  padding-right: 5rem;
  align-self: flex-end;
  text-align: center;
  color: #ea0025;
  font-weight: bold;
}

.first-item div:nth-child(2) {
  color: #444444;
  font-weight: normal;
}

.Typewriter__cursor {
  display: none;
}

.first-section a {
  text-decoration: none;
}

.btn_div {
  display: flex;
  justify-content: center;
}

.btn__red {
  margin: 0 auto;
  background-color: #ea0025;
  color: white;
  border: none;
  padding: 1rem 2rem;
  margin-right: 1rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  width: 200px;
}

.btn__dark {
  margin: 0 auto;
  background-color: #444444;
  color: white;
  border: none;
  padding: 1rem 2rem;
  margin-left: 1rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  width: 200px;
}

.project-card {
  margin-bottom: 40px;
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-card img {
  height: 250px;
  object-fit: cover;
}

.bottom-carousel {
  width: 80%;
  margin: 0px auto 100px auto;
  text-align: center;
}

.bottom-carousel a {
  text-decoration: none;
}

.proyect__desc span {
  color: #ea0025;
}

@media (max-width: 460px) {
  .first-section {
    background-position: 50% 0%;
  }

  .first-item {
    margin-top: 200px;
  }
}
