.navb {
    font-size: 20px;
    text-align: center;
    padding: 7px;
    width: 100%;
    color: antiquewhite;
    top: 0;
    background-color: white;
    transition: all .1s;
    border-bottom: 5px solid rgba(0,179,137,255);

} 

.navb.filled {
    background-color: white;
    height: 40px;
    color:rgb(37, 36, 36);
    border-bottom: 5px solid rgba(0,179,137,255);

}

#navbar span.link-color{
    color: white;
    text-decoration: none;
}