.reveal.fadeInDown{ 
    display: flex;
    justify-content: center;
    color:black;
    padding-top: 90px;
    padding-bottom: 60px;
    font-size: 4em;
    letter-spacing: .15em;
    text-transform: uppercase;
    margin-bottom: 40px;
    opacity: 0;
    transition-property: all;
    transition-duration: 1s;
    transform: translateY(-120px);
}

.reveal.fadeInDown.visible {
    transform: translateY(0);
    opacity: 1;
}

.reveal.fadeInLeft{
    
    opacity: 0;
    transition-property: all;
    transition-duration: 1s;
    transform: translateX(-100px);
}

.reveal.fadeInLeft.visible {
    transform: translateX(0);
    opacity: 1;
}

.portfolio {
    padding-top: 50px;
    width: 100%;
    background-size: cover;
    background-position: 100% 30%;
    margin-bottom: 150px;
}

.portfolio h3{
   color: black;
   display: flex;
   justify-content: center;
   letter-spacing: .15em;
   margin-bottom: 0;
}

.portfolio p {
   color: black;
   display: flex;
   justify-content: center;
}

.portfolio hr{
    margin-top: 80px;
}

@media (max-width: 460px) {
  .reveal.fadeInDown{
    font-size: 3em;
    margin-bottom: 20px;

  }
}

@media (max-width: 376px) {
  .reveal.fadeInDown{
    font-size: 2em;
    margin-bottom: 20px;

  }

  .portfolio h3{
    font-size: 1em;
}
}