footer {
  background-color: whitesmoke;
  color: black;
  text-align: center;
  padding: 3px;
  width: 100%;
  font-size: 0.7em;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

footer img {
  height: 30px;
}

footer p {
  margin-bottom: 0px;
}

footer h2 {
  margin-bottom: 0px;
}

.social {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 460px) {
  footer h2 {
    font-size: 1.5rem;
  }
}
